{% extends "base.html" %}
{% block title %} Edit Post {% endblock  %}


{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <br/><h1> Edit Post </h1><br/>


    <div class='col-9 offset-1'>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark"> Edit Post </button> 
        </form>
    </div>
    {% else %}
    <br/><h1> Sorry! This page does not exist... </h1><br/>
    {% endif %}

    
{% else %}
<br/><h1> Sorry! This page does not exist... </h1><br/>
{% endif %}


{% endblock %}