{% extends "base.html" %}
{% block title %} Home {% endblock  %}

{% block content %}
<br/><h1> Posts List </h1><br/>

<ul>
{% for post in posts %}

    <li><a href='{% url "post_detail" post.pk %}' style="text-decoration: none;"> 
        <strong>{{ post.title }}</strong> 
        </a><br/>
        [Category: {{ post.category }} / Author: {{ post.author }} / Date: {{ post.post_date }}]
    
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <small>
            <a href='{% url "edit_post" post.id %}' style="text-decoration: none;"> Edit </a>|
            <a href='{% url "delete_post" post.id %}' style="text-decoration: none; color: red;"> Delete </a>
        </small>
        {% endif %}
    {% endif %}<br/>
    Snippet: {{ post.snippet }}<br/>
    {{ post.body|slice:"200"|safe }}
    </li>

{% endfor %}
</ul>





{% endblock %}
