<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">SoheilWeblog</a>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url "category_list" %}"> Categories </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "add_category" %}"> Add Category </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "add_post" %}"> Add Post </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              {% if user.profile.id %}
              <li><a class="dropdown-item" href="{% url "show_profile" user.profile.id %}">Show Profile</a></li>
              <li><a class="dropdown-item" href="{% url "edit_profile" user.profile.id %}">Edit Profile</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url "create_profile" %}">Create Profile</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url "edit_register" %}">Edit User Register</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}"> Logout </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "register" %}"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}"> Login </a>
          </li>
          {% endif %}
        </ul>
        
        <span class="navbar-text">
          {{ user.username }}
        </span>
      </div>
    </div>
  </nav>